!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %title  -
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %link{:href => "/_/css/screen.css?today=#{grunt.template.today("yyyy-mm-dd")}", :rel => "stylesheet"}/
    /[if lt IE 9] <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body.home.page
    #root
      %header.header
        .crown
          .logo
            %img{:alt => "", :height => "113", :src => "/_/img/dot.png", :width => "300"}/
          %nav.navigation
            %ul.nav.nav--block
              %li.home
                %a{:href => "/"} Home
      .wrapper
        %p Hi!
      #root-footer
    %footer#footer.footer
      %nav.footer-navigation
        %ul
          %li.copy-right  © 2013 All Rights Reserved
    %script{:src => "/_/js/imports-global.min.js", :type => "text/javascript"}
    %script{:src => "/_/js/main.js?today=#{grunt.template.today("yyyy-mm-dd")}", :type => "text/javascript"}