<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title><%= _.slugify(projectName) %></title>

  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="@@DESCRIPTION" />
  <meta name="keywords" content="@@KEYWORDS" />

  <!-- build:css({app,.tmp}) styles/screen.css -->
  <% if ( stylesLang === 'vanilla') { %>
  <link rel="stylesheet" href="styles/inuit.css" /><% } %>
  <link rel="stylesheet" href="styles/screen.css" />
  <!-- endbuild -->
</head>

<body class="page">
  <div id="root" class="wrapper">
    <div class="skeletor">
      <span class="oval--horizontal"><h1>YO!</h1></span>
    </div>

    <div class="main">
      <h2>Skeletor installed <small>whether you wanted him to or not</small>...</h2>

      <ul>
        <li>jquery</li>

        <li>modernizr</li>

        <li>lodash</li>

        <li>inuit.css</li>
      </ul>

      <p>Now go do something evil!</p>
    </div>
  </div>

  <!-- build:js({app,.tmp}) scripts/app.js -->
  <script src="bower_components/jquery/jquery.js" type="text/javascript"></script>
  <script src="bower_components/modernizr/modernizr.js" type="text/javascript"></script>
  <script src="bower_components/lodash/lodash.js" type="text/javascript"></script>
  <script src="scripts/@@NAME.js" type="text/javascript"></script>
  <!-- endbuild -->
</body>
</html>
