/* Main Styles */

@charset "UTF-8";

.page {
  padding-top: 24px;
  padding-bottom: 24px;
  background-image: linear-gradient(#cccccc, #ffffff); }

.wrapper {
  width: 980px;
  margin: 0 auto;
  border-radius: 5px;
  border: 3px solid #1c1b39; }

.skeletor {
  height: 500px;
  background: transparent url("../images/Skeletor.jpg") left top no-repeat;
  background-clip: content-box; }

.oval, .oval--horizontal {
  display: inline-block;
  width: 300px;
  height: 100px;
  margin: 5%;
  border-radius: 50%;
  border: 2px solid #3674a9;
  color: black; }

  .oval h1, .oval--horizontal h1 {
    padding-top: 6px;
    text-align: center; }

.oval--horizontal {
  background-image: linear-gradient(#ffffff, #cccccc); }

.main {
  height: 100%;
  border-top: 3px solid #1c1b39;
  padding-left: 24px;
  background-color: white; }
