// Screen Manifest File

@import "variables.less";

@import "../bower_components/inuit.css/defaults.less";
@import "../bower_components/inuit.css/inuit.less";

.page { padding-top: 24px; padding-bottom: 24px; background-image: linear-gradient( #ccc, lighten( #ccc, 20% ) ); }

.wrapper { width: 980px; margin: 0 auto; border-radius: 5px; border: 3px solid #1c1b39; }

.skeletor { height: 500px; background: transparent url( '/images/Skeletor.jpg' ) left top no-repeat; background-clip: content-box; }

.oval { display: inline-block; width: 300px; height: 100px; margin: 5%; border-radius: 50%; border: 2px solid #3674a9; color: black;
  h1 { padding-top: 6px; text-align: center; }
}

.oval--horizontal { &:extend(.oval); background-image: linear-gradient( white, darken( white, 20% ) ); }

.oval--horizontal h1 { margin-top: 24px; text-align: center; }

.main { height: 100%; border-top: 3px solid #1c1b39; padding-left: 24px; background-color: white; }
